{% macro head() %}
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial_scale=1"/>
		<title>Sqlite HTMX</title>

		<!-- htmx --!>
		<script src="https://unpkg.com/htmx.org@2.0.3"></script>

		<!-- Sweet Alert --!>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		
		<!-- Tailwind --!>
		<script src="https://cdn.tailwindcss.com"></script>

		<!-- d3 --!>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.js" integrity="sha512-iiZOijMkLFQSa43AyuzD6p176GJlnhWXEv7loEZFkCDpFQvZCijZLE6U8IRpAIb53KagIIwhSwHWTgsDlci/jw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<!-- Custom css --!>
		<link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}">
	</head>
{% endmacro %}

{% macro navbar() %}
	<nav class="border-gray-700 bg-gray-800">
	  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
		<a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
			<span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">HTMX + Sqlite</span>
		</a>
		<div class="hidden w-full md:block md:w-auto mr-8">
		  <ul class="flex flex-col font-medium mt-4 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent">
			<li>
			  <a href="/" class="block py-2 px-3 md:p-0 rounded md:border-0 text-white md:hover:text-blue-500 hover:bg-gray-700 md:hover:bg-transparent">Home</a>
			</li>
		  </ul>
		</div>
	  </div>
	</nav>
{% endmacro %}


{% macro dependency_graph(kind, data) %}

	<div id = "container_{{ kind }}" class="mx-10"></div>

		<script>

			{ // in a block so the varaible are in their own scope
				const j = {{ data | tojson }};
				const strat = d3.stratify()
					.id(d => d.name)
					.parentId(d => d.parent);
				var root = strat(j);

				const width = document.getElementById("object-details-tabs-data").offsetWidth;
				const dx = 75; // the height difference between rows
				const dy = width / (root.height + 1);
				
				const tree = d3.tree().nodeSize([dx, dy]);

				root.sort((a,b) => d3.ascending(a.data.name, b.data.name));
				tree(root);

				let x0 = Infinity;
				let x1 = -x0;
				root.each(d => {
					if (d.x > x1) x1 = d.x;
					if (d.x < x0) x0 = d.x;
				});

				const height = x1 - x0 + dx * 2;

				const svg = d3.create("svg")
					.attr("width", width)
					.attr("height", height)
					.attr("viewBox", () => {
						// for right->left and left->right swapping should by -dy/3 or -dy/3 + dy
						return "{{ kind }}" == "upstream" ?
							[-dy / 3, x0 - dx, width, height] :
							[-dy / 3 + dy, x0 - dx, width, height]
					})
					.attr("style", "max-width: 100%; height: auto; font: 10px sans-serif;");

				const link = svg.append("g")
					.attr("fill", "none")
					.attr("stroke", "#555")
					.attr("stroke-opacity", 0.4)
					.attr("stroke-width", 1.5)
					.selectAll()
					.data(root.links())
					.join("path")
					.attr("d", d3.linkHorizontal()
						// for right->left and left->right swapping should be either d.y or width-d.y
						.x(d => ("{{ kind }}" == "upstream" ? 2 * d.y : width) - d.y)
						.y(d => d.x));

				const node = svg.append("g")
					.attr("stroke-linejoin", "round")
					.attr("stroke-width", 3)
					.selectAll()
					.data(root.descendants())
					.join("g")
					.attr("id", d => `${d.data.id}`)
					// for right->left and left->right swapping should be either d.y or width-d.y
					.attr("transform", d => `translate(${("{{ kind }}" == "upstream" ? 2 * d.y : width) - d.y}, ${d.x})`)
					.on("mouseover", function(event, d) {
						console.log("over element with id", d.data.id);
						for (child of this.children) {
							d3.select(child).attr("fill", "purple");
						}
					})
					.on("mouseleave", function(event, d) {
						console.log("leave element with id", d.data.id);
						for (child of this.children) {
							d3.select(child).attr("fill", "#555");
						}
					})
					.on("click", function(event, d) {
						console.log("click element with id", d.data.id);
						window.location.href = `/view/object/${d.data.id}`;
					});

				node.append("circle")
					.attr("fill", d => d.children ? "#555" : "#555")
					.attr("r", 6);

				node.append("text")
					.attr("dy", "1.50em") // x offset of text
					.attr("text-anchor", "middle")
					.attr("transform", "scale(1.3)")
					.text(d => d.data.name)
					.attr("stroke", "white")
					.attr("paint-order", "stroke");

				container_{{ kind }}.append(svg.node());
			}

		</script>
{% endmacro %}
