{% macro head() %}
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial_scale=1"/>
		<title>Sqlite HTMX</title>

		<!-- htmx --!>
		<script src="https://unpkg.com/htmx.org@2.0.3"></script>

		<!-- Sweet Alert --!>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		
		<!-- Tailwind --!>
		<script src="https://cdn.tailwindcss.com"></script>

		<!-- d3 --!>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.js" integrity="sha512-iiZOijMkLFQSa43AyuzD6p176GJlnhWXEv7loEZFkCDpFQvZCijZLE6U8IRpAIb53KagIIwhSwHWTgsDlci/jw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<!-- Custom css --!>
		<link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}">
	</head>
{% endmacro %}


{% macro navbar() %}
	<nav class="border-gray-700 bg-gray-800">
	  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
		<a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
			<span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">HTMX + SQLite</span>
		</a>
		<div class="hidden w-full md:block md:w-auto mr-8">
		  <ul class="flex flex-col font-medium mt-4 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent">
				<li>
					<a href="/" class="block py-2 px-3 md:p-0 rounded md:border-0 text-white md:hover:text-blue-500 hover:bg-gray-700 md:hover:bg-transparent">Home</a>
				</li>
				<li>
					<a href="{{ url_for('new_object') }}" class="block py-2 px-3 md:p-0 rounded md:border-0 text-white md:hover:text-blue-500 hover:bg-gray-700 md:hover:bg-transparent">New Object</a>
				</li>
		  </ul>
		</div>
	  </div>
	</nav>
{% endmacro %}


{% macro object_header(obj) %}
	<div id="object_definition" class="flex p-6 my-8 mx-8 justify-between">
		<div>
			<h5 class="text-2xl font-bold tracking-tight text-gray-900">{{ obj.1 }}</h5>
			<p class="mb-2 font-semibold tracking-tight text-gray-400">{{ obj.2 }}</p>
			<p class="font-normal text-gray-700">{{ obj.3 }}</p>
		</div>
		<div class="mr-20">
			<p class="font-semibold text-md text-gray-900 underline mb-2">Actions</p>
			<button id="desc_update" class="font-normal text-sm text-blue-600 hover:underline" hx-patch="{{ url_for('view_object', object_id=obj.0) }}" hx-target="#object_definition" hx-include="#updated-desc" hx-swap="outerHTML" hx-trigger="confirmed" onclick="editDescPopUp(this.id, '{{ obj.1 }}', '{{ obj.3 }}')">Edit Description</button>
			{% if obj.4 == "user" %}
			<p class="font-normal text-sm">TODO: Edit Object</p>
			<p class="font-normal text-sm">TODO: Delete Object</p>
			{% endif %}
		</div>
	</div>
{% endmacro %}

{% macro object_search_box() %}
	<div class="flex">
		<div class="relative w-full">
			<div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
				<svg class="w-4 h-4 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
				</svg>
			</div>
			<input type="search" id="search-box" name="search" class="bg-gray-50 border-2 border-gray-500 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" placeholder="Begin typing to search..." />
		</div>
		<img id="radio-indicator" class="htmx-indicator h-12" src="/static/search.svg" alt="loading"/>
	</div>
	<ul class="flex">
		<li class="p-1">
			<input type="radio" id="filter-all" name="filter" value="All" class="hidden peer search-radio" checked required />
			<label for="filter-all" class="inline-flex items-center justify-between p-2 py-1 text-center text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-800 hover:bg-gray-200 hover:border-gray-300">All</label>
		</li>
		<li class="p-1">
			<input type="radio" id="filter-table" name="filter" value="1" class="hidden peer search-radio" required />
			<label for="filter-table" class="inline-flex items-center justify-between p-2 py-1 text-center text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-800 hover:bg-gray-200 hover:border-gray-300">Tables</label>
		</li>
		<li class="p-1">
			<input type="radio" id="filter-view" name="filter" value="2" class="hidden peer search-radio" required />
			<label for="filter-view" class="inline-flex items-center justify-between p-2 py-1 text-center text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-800 hover:bg-gray-200 hover:border-gray-300">Views</label>
		</li>
		<li class="p-1">
			<input type="radio" id="filter-storedprocedure" name="filter" value="3" class="hidden peer search-radio" required />
			<label for="filter-storedprocedure" class="inline-flex items-center justify-between p-2 py-1 text-center text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-800 hover:bg-gray-200 hover:border-gray-300">Stored Procedures</label>
		</li>
		<li class="p-1">
			<input type="radio" id="filter-powerbi" name="filter" value="4" class="hidden peer search-radio" required />
			<label for="filter-powerbi" class="inline-flex items-center justify-between p-2 py-1 text-center text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-800 hover:bg-gray-200 hover:border-gray-300">PowerBI</label>
		</li>
		<li class="p-1">
			<input type="radio" id="filter-ssrs" name="filter" value="5" class="hidden peer search-radio" required />
			<label for="filter-ssrs" class="inline-flex items-center justify-between p-2 py-1 text-center text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-800 hover:bg-gray-200 hover:border-gray-300">SSRS</label>
		</li>
	</ul>
{% endmacro %}


{% macro dependency_graph(kind, data) %}

	<!-- TODO: add a color key legend and color nodes based on type --!>

	<div id = "container_{{ kind }}" class="mx-10"></div>

		<script>

			{ // in a block so the varaible are in their own scope
				const j = {{ data | tojson }};
				var counts = {};
				const strat = d3.stratify()
					.id(d => {
						if (!counts[d.name]){
							counts[d.name] = 1;
							return d.name;
						} else {
							return d.name + " " + ++counts[d.name];
						}
					})
					.parentId(d => d.parent);
				var root = strat(j);

				const width = document.getElementById("object-details-tabs-data").offsetWidth;
				const dx = 75; // the height difference between rows
				const dy = width / (root.height + 1);
				
				const tree = d3.tree().nodeSize([dx, dy]);

				root.sort((a,b) => d3.ascending(a.data.name, b.data.name));
				tree(root);

				let x0 = Infinity;
				let x1 = -x0;
				root.each(d => {
					if (d.x > x1) x1 = d.x;
					if (d.x < x0) x0 = d.x;
				});

				const height = x1 - x0 + dx * 2;

				const svg = d3.create("svg")
					.attr("width", width)
					.attr("height", height)
					.attr("viewBox", () => {
						// for right->left and left->right swapping should by -dy/3 or -dy/3 + dy
						return "{{ kind }}" == "upstream" ?
							[-dy / 3, x0 - dx, width, height] :
							[-dy / 3 + dy, x0 - dx, width, height]
					})
					.attr("style", "max-width: 100%; height: auto; font: 10px sans-serif;");

				const link = svg.append("g")
					.attr("fill", "none")
					.attr("stroke", "#555")
					.attr("stroke-opacity", 0.4)
					.attr("stroke-width", 1.5)
					.selectAll()
					.data(root.links())
					.join("path")
					.attr("d", d3.linkHorizontal()
						// for right->left and left->right swapping should be either d.y or width-d.y
						.x(d => ("{{ kind }}" == "upstream" ? 2 * d.y : width) - d.y)
						.y(d => d.x));

				const node = svg.append("g")
					.attr("stroke-linejoin", "round")
					.attr("stroke-width", 3)
					.selectAll()
					.data(root.descendants())
					.join("g")
					.attr("id", d => `${d.data.id}`)
					// for right->left and left->right swapping should be either d.y or width-d.y
					.attr("transform", d => `translate(${("{{ kind }}" == "upstream" ? 2 * d.y : width) - d.y}, ${d.x})`)
					.on("mouseover", function(event, d) {
						for (child of this.children) {
							d3.select(child).attr("fill", "purple");
						}
					})
					.on("mouseleave", function(event, d) {
						for (child of this.children) {
							d3.select(child).attr("fill", "#555");
						}
					})
					.on("click", function(event, d) {
						window.location.href = `/objects/${d.data.id}`;
					});

				node.append("circle")
					.attr("fill", d => d.children ? "#555" : "#555")
					.attr("r", 6);

				node.append("text")
					.attr("dy", "1.50em") // x offset of text
					.attr("text-anchor", "middle")
					.attr("transform", "scale(1.3)")
					.text(d => d.data.name)
					.attr("stroke", "white")
					.attr("paint-order", "stroke");

				container_{{ kind }}.append(svg.node());
			}

		</script>
{% endmacro %}
